@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
  --bg-morning: linear-gradient(to right, #f9f9a3, #a1c4fd);
  --text-morning: #222;

  --bg-night: linear-gradient(to right, #1e1e40, #0d0d1f);
  --text-night: #fff;

  --accent-color: #00c3ff;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  font-family: 'Orbitron', 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  transition: background 0.6s ease, color 0.6s ease;
}

body.morning {
  background: var(--bg-morning);
  color: var(--text-morning);
}

body.night {
  background: var(--bg-night);
  color: var(--text-night);
}

#time-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

#time {
  font-family: 'Roboto Mono', monospace;
  font-size: 6rem;

}

#ampm {
  font-size: 2rem;
}

#date {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

.buttons {
  margin-top: 20px;
}
#toggleFormat{
  padding: 15px;
}

button {
  padding: 12px 20px;
  margin: 0 10px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background-color: var(--accent-color);
  color: #009fdd;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

button:hover {
  background-color: #fff;
  transform: scale(1.05);
}

#icon {
  transition: transform 0.4s ease;
  display: inline-block;
  font-size: 1.2rem;
}

#icon.rotate {
  transform: rotate(360deg);
}


@media (max-width: 600px) {
  #time {
    font-size: 3.5rem;
  }

  #ampm {
  font-size: 1.5rem;
  }

  #date {
    font-size: 1rem;
  }


  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 12px; 
    font-size: 0.9rem;
    padding-top: 20px;

  }
  .buttons button {
    margin-left: 0;
    margin-top: 0;
    width: 100%
  }
}
